.write{
    padding-top: 50px;
}

.writeform{
    position: relative;
}

.writeformgroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.writeicon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    color: rgb(121,118,118);
    cursor: pointer;
}

.writeinput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeinput:focus{
    outline: none;
}

.writetext{
    font-size: 21px;
    height: 100vh;  
}

.writesubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    color:white;
    background-color: teal;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 17px;
}

.writeimg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 11px;
    object-fit: cover;
}