.head{
    margin-top: 60px;
}

.headertitles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headertitlesm{
    position: absolute;
    top:15%;
    font-size: 21px;
}

.headertitlelg{
    position: absolute;
    top: 17%;
    font-size: 100px;
}


.headerimg{
    width: 100%;
    height: 470px;
    margin-top: 80px;
    object-fit: cover;
}